@import './../gloo/gloo';

.glu_simpleFooter {
    overflow: hidden;
}

.glu_simpleFooter-gridScaffold {
    /* all scaffold elements must control position of children */
    position: relative;
}

.glu_simpleFooter-primary {
    @include glu_grid-grid(4);
    @media #{$glu_mediaQuery-belowSmall}{
        @include glu_grid-grid(2);
    }
}

.glu_simpleFooter-section:nth-of-type(1) {
    @include glu_grid-column(1, 4);

    @media #{$glu_mediaQuery-belowSmall}{
        @include glu_grid-column(1, 2);
    }
}

.glu_simpleFooter-section:nth-of-type(2) {
    @include glu_grid-column(2, 4);

    @media #{$glu_mediaQuery-belowSmall}{
        @include glu_grid-column(2, 2);
    }
}

.glu_simpleFooter-section:nth-of-type(3) {
    @include glu_grid-column(3, 4);

    @media #{$glu_mediaQuery-belowSmall}{
        @include glu_grid-column(1, 2);
    }
}

.glu_simpleFooter-section:nth-of-type(4) {
    @include glu_grid-column(4, 4);

    @media #{$glu_mediaQuery-belowSmall}{
        @include glu_grid-column(2, 2);
    }
}

.glu_simpleFooter-links {
    margin: 0;
    padding: 0;
}

.glu_simpleFooter-link {
    list-style: none;
}

.glu_simpleFooter-secondary {
    text-align: center;
}
