@import './../gloo/gloo';
@import './../main/settings';
@import './../main/main-colorPalette';

.layout {
    background-color: $seaShell;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: $layout-headerHeight;
    position: relative;

    &.layout--fullSizePlayer {
        padding-top: $layout-playStripHeight + $layout-headerHeight;

        @media #{$glu_mediaQuery-belowSmall} {
            padding-top: $layout-playStripHeightBelowSmall + $layout-headerHeight;
        }
    }
}

.layout-sticky {
    @include gloo-browser(box-shadow, 0 0 7px 0 $nero);
    position: fixed;
    top: 0;
    width: 100%;
}

// this is where we enforce width layout for all pages
.layout-content {
    max-width: $layout-maxWidth;
    margin-left: auto;
    margin-right: auto;
    padding-left: $layout-universalGutter;
    padding-right: $layout-universalGutter;
    padding-bottom: $layout-verticalModuleRhythm; // this finishes the vertical layout flow on a page, modules have top padding only. this makes consistency easier
    flex: 1;
}
