/**/*.css
/.idea
/.tmp
src/.tmp
src/.env
src/public
/.scss-linters
/__deploy
/src/node_modules
/mongo/mongo
/src/client/css
/src/client/lib
/src/dist
/src/client/icons-src/output
/src/client/app/vc
src/.scss-linters
/vagrant/.vagrant
/npm-debug.log
/yarn-error.log
/vagrant/ubuntu-xenial-16.04-cloudimg-console.log
/src/logs
/src/.tmp/scss-lint-report.xml
/docker/node/.app
/build/.work
/build/.clone
/build/.stage
/docker/.images
/src/client/bundle
/src/yarn-error.log
/src/server/reference/music
/src/client/lib-dev
/src/__logs
/docker/node/.deployKeys
/docker/node/.app
/docker/node/.build
/src/client/app/bundle.min.js
/src/client/app/config.min.js
/src/client/app/version.txt
/docker/redis
/src/client/app/version.json
/src/client/app/config.js
docker/oauthgobo.env
build/node/.stage.tar.gz
build/logs
build/data
src/data
src/.cache-require-paths.json
!/src/client/app/localLib/**