@import './../gloo/gloo';
@import './../main/settings';

.import {
    max-width: $layout-maxWidth;
    margin-left: auto;
    margin-right: auto;
    padding-left: $layout-universalGutter;
    padding-right: $layout-universalGutter;
}


.import-stageTwoPercent {
    font-size: 12em;
}

