// Use : http://chir.ag/projects/name-that-color/
$black: #000000;
$codGray: #0f0f0f;
$nero: #2c2c2c;
$meanShaft: #313131;
$mineShaft: #3e3e3e;
$doveGray: #707070;
$dustyGrey: #9C9C9C;
$silver: #bcbcbc;
$alto: #d4d4d4;
$seaShell: #f1f1f1;
$white: #ffffff;
$rust: #ff5800;
$coral: #ff8442;
$guardsManRed: #d20000;
$congoBrown: #603e40;
$placeholder-grey: #a3a3a3;
$placeholder-green: #6d8d6d;
$placeholder-orange: #ffa110;
$breakerBay: #5f9ea0; // the "playlist" color
$silverTranslucent: rgba(#bcbcbc, .8);