@import './../gloo/gloo';

.playingSongInfo {
    min-height: 36px;
    min-width: 150px;
}

.playingSongInfo-artist,
.playingSongInfo-title {
    overflow: hidden;
    white-space: nowrap;
}

.playingSongInfo-artist {
    font-size: 18px;
    text-transform: uppercase;
}

.playingSongInfo-title {
    font-size: 12px;
}
