@import './../main/settings';
@import './../type/type';

.termsOfService {
    @include type-bodyLarge;
    max-width: $layout-maxWidth;
    margin-left: auto;
    margin-right: auto;
    padding-left: $layout-universalGutter;
    padding-right: $layout-universalGutter;
}
