@import './../main/main-colorPalette';
@import './../main/settings';
@import './../type/type';

.listAlbum {
    @include type-h2Strong;
    height: $layout-universalGutter * 9;
    padding-top: 30px;
    padding-left: $songRowBrowserLeftPad;
}
