@import './../gloo/gloo';
@import './../main/main-colorPalette';
@import './../main/settings';
@import './../type/type';

.glu_simpleFooter {
    height: 60px;
    color: $white;
    background-color: $mineShaft;
}

.glu_simpleFooter-anchor {
    color: $seaShell;
}

// we want only one column in footer
.glu_simpleFooter-primary {
    // remove default padding on this
    //padding: 0;
    grid-template-columns: repeat(1, 1fr)
}

.glu_simpleFooter-sectionTitle {
    color: $silver;
}

.glu_simpleFooter-gridScaffold {
    @include glu_grid-element;
    padding: 0 $layout-universalGutter;
    max-width: $layout-maxWidth;
    padding-bottom: $layout-verticalTextRhythm;
}

.glu_simpleFooter-link {
    float: left;
    margin-right: 24px;
}

.glu_simpleFooter-secondary {
    @include type-subText;
}
