@import './../main/settings';
@import './../type/type';

.newPassword {
    @include type-bodyLarge;
}

.newPassword-passwordFieldWrapper {
    position: relative;

    @media #{$glu_mediaQuery-aboveSmall} {
        max-width: $layout-narrowModulesMaxWidth;
    }

    &.newPassword-passwordFieldWrapper--disabled {
        svg {
            opacity: .4;
        }
    }
}

.newPassword-viewPasswordIcon {
    svg {
        position: absolute;
        right: 7px;
        top: 26px;
    }
}
